<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OneComponent</title>
</head>
<body>
    <h1 style="color: #fff">Segundo Componente ICIT</h1>
    <p style="color: #fff">Hola Profe Este es el Segundo Componente ICIT</p>
    <hr>
    <br>
    <div style="text-align:center">
        <app-component-one></app-component-one>
    </div>
    <div style="text-align:center; color: #fff">
        <h4>Su Base mayor del trapecio es : <span style="color: blueviolet;">{{ Hallar.bMayor }}</span></h4>
        <h4>Su Base menor del trapecio es : <span style="color: blueviolet;">{{ Hallar.bMenor }}</span></h4>
        <h4>Su altura del trapecio es : <span style="color: blueviolet;">{{ Hallar.altur }}</span></h4>
        <h4>El área del trapecio es : <span style="color:green;">{{ calcularAreaCuadrado(Hallar.bMayor,Hallar.bMenor,Hallar.altur) }}</span></h4>

        <div>
            <label>Ingrese su Base Mayor:</label><input type="number" [(ngModel)]="Hallar.bMayor">
            <br>
            <label>Ingrese su Base Menor:</label><input type="number" [(ngModel)]="Hallar.bMenor">
            <br>
            <label style="padding:20px">Ingrese su Altura:</label><input type="number" [(ngModel)]="Hallar.altur">
        </div>
        
        <h2 style="color: #fff">..................FIN..................</h2>
    </div>

    <hr>
    <h1 style="color: #fff; text-align: center;">Mostrando el contenido del componente uno</h1>
    <button (click)="mostrar = !mostrar" style="background-color: aqua; width:150px; height:40px; cursor: pointer;">
        {{mostrar ? 'Ocultar':'Mostrar'}}
    </button>
    <app-component-one *ngIf="mostrar"></app-component-one>
    <hr>
    <h1 style="color: #fff; text-align: center;">Mostrando el tercer componente</h1>
    <app-menu-nav></app-menu-nav>
</body>
</html>
