<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title></title>
</head>
<body>
    <div class="app" style="color: #fff">
        <header>
          <section>
            <h1>{{ title }}</h1>
            <h2> {{ version }}</h2>
          </section>
          <nav>
            <ul class="nav">
              <li><a routerLink="/">Incio</a></li>
              <li><a routerLink="/about">Informacion</a></li>
              <li><a routerLink="/contact">Contactos</a></li>
              <li><a routerLink="/signin">Signin</a></li>
            </ul>
          </nav>
        </header>
      
        <main>
          <router-outlet></router-outlet>
        </main>
      
        <footer>
          <a href="https://www.ganatan.com/">&copy; 2021 - www.ganatan.com</a>
        </footer>
    
    </div>
</body>
</html>