<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneComponent</title>
</head>
<body>
    <h1 style="color: #fff">Primer Componente ICIT</h1>
    <p style="color: #fff">Mostrando este Componente uno en el Componente dos</p>
    <h2 style="color: #fff">Calcular el area del <samp style="color: rgb(248, 204, 8); font-weight: bold">{{ figura.tipo }}</samp> </h2>
    <img src="{{ figura.imagen }}" >
</body>
</html>